# code
.vscode

## mac
.DS_Store/
.DS_Store?

# nohup logs
nohup.out

## Python enviornment
env
__pycache__
.env
venv
.venv
.ipynb_checkpoints

## Pygbag
*pygbag*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Added by cargo
my-crate/target
my-crate/Cargo.lock
/target
/Cargo.lock
